:root {
	--logo-text-color: #233348;
	--nav-text-color: #1F1534;

	--primary-text-color: #7D7987;
	--secondary-text-color: #ffffff;
	--tretiary-text-color: rgba(255, 255, 255, 0.9);
	--primary-title-text-color: #000000;
	--secondary-title-text-color: #ffffff;
	--accent-color: #458FF6;
	--footer-bg-color: linear-gradient(180.92deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

body{
	color: var(--primary-text-color);
	font-family: "Mulish", sans-serif;
	font-weight: 300;
}

ul{
	list-style: none;
}

a{
	color: inherit;
	text-decoration: none;
}

.container{
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	padding-top: 100px;
	padding-bottom: 100px;

	outline: 1px solid tomato;
}

.flexbox{
	display: flex;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.logo{
	color: var(--logo-text-color);
	font-weight: 700;
	font-size: 24px;
	line-height: 1.25;

	margin-right: auto;
}

.logo-name{
	display: inline-block;
	margin-top: 25px;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 20px;
}

.navigation-item{
	color: var(--nav-text-color);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.278;
}

.navigation-item:not(:last-child){
	margin-right: 40px;
}

.navigation-item .link:hover,
.navigation-item .link:focus{
	color: var(--primary-title-text-color);
	font-weight: 700;
}

nav.container{
	padding-top: 0;
	padding-bottom: 0;
}

nav.flexbox{
	align-items: center;
}

.hero h1{
	color: var(--primary-title-text-color);
	font-weight: 700;
	font-size: 48px;
	line-height: 1.17;

	margin-top: 50px;
	margin-bottom: 0;
}

.hero p{
	font-weight: 300;
	font-size: 21px;
	line-height: 1.52;

	margin-top: 25px;
	margin-bottom: 50px;
}

.hero-item{
	width: calc((100% - 30px) / 2);
	align-items: center;
}

.hero-item:not(:last-child){
	margin-right: 30px;
}

.button{
	font-weight: 700;
	font-size: 18px;
	line-height: 3.333;

	padding: 3px 40px;
	border: 1px solid var(--accent-color);
	border-radius: 55px;
}

.hero.button{
	margin: 0;
}

.primary{
	color: var(--secondary-text-color);
	background-color: var(--accent-color);
}

.secondary{
	color: var(--accent-color);
	background-color: #ffffff;
}

.services .main-title{
	color: var(--primary-title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.56;
	text-align: center;

	margin: 0;
}

.services-list{
	flex-wrap: wrap;
	padding: 0;
	margin-top: 35px;
	margin-bottom: 70px;
}

.services-item{
    width: calc((100% - 3 * 30px) / 3);

	padding-top: 25px;
	padding-right: 40px;
	padding-bottom: 25px;
	padding-left: 40px;
}

.services-item:not(:nth-child(-n + 3)){
	margin-top: 30px;
}

.services-item:not(:nth-child(3n)){
	margin-right: 30px;
}

.services > p,
.articles p{
	font-weight: 300;
	font-size: 18px;
	line-height: 1.67;
}

.services > p{
	text-align: center;

	margin-top: 25px;
	margin-bottom: 0;
}

.services .secondary-title{
	color: var(--primary-title-text-color);
	font-weight: bold;
	font-size: 24px;
	line-height: 2.33;
}

.main-title{
	color: var(--primary-title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.56;
}

.services-item{

}

.feedback .main-title{
	/* teporary bg */
    background-color: var(--nav-text-color);

	color: var(--secondary-title-text-color);
}

.propositions p{
	font-weight: 300;
	font-size: 18px;
	line-height: 1.67;
}

.name{
	/* teporary bg */
	background-color: var(--nav-text-color);
	
	color: var(--secondary-title-text-color);

	font-weight: 700;
	font-size: 22px;
	line-height: 2.18;
}

.job{
	/* teporary bg */
	background-color: var(--nav-text-color);
	
	color: var(--tretiary-text-color);

	font-weight: 400;
	font-size: 18px;
	line-height: 2.67;
}

.text-feedback{
	/* teporary bg */
	background-color: var(--nav-text-color);
	
	color: var(--tretiary-text-color)

	font-weight: 400;
	font-size: 19px;
	line-height: 1.58;
}

.tretiary-title{
	color: var(--primary-title-text-color);

	font-weight: 700;
	font-size: 21px;
	line-height: 1.52;
}

.articles .link{
	color: var(--accent-color);

	font-weight: 600;
	font-size: 17px;
	line-height: 1.65;
}


footer{
	/* teporary bg */
	background-color: var(--nav-text-color);

	color: var(--secondary-title-text-color);
}

footer .logo{
	color: var(--secondary-title-text-color);
}

.short-info{
	font-weight: 300;
	font-size: 18px;
	line-height: 1.56;
}

.copyright{
	font-weight: 300;
	font-size: 16px;
	line-height: 1.75;
}

.footer-title{
	font-weight: 700;
	font-size: 20px;
	line-height: 3;
}

.footer-item{
	font-weight: 300;
	font-size: 18px;
	line-height: 2.11;
}